body {
    background-color: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #00ff00;
    margin-top: 500px;
}
h2 {
    color: #00ff00;
}
.btn {
  background-color: #ff3b3b;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-color: green;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d62828;
}
