body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.logo {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin-top: 0;
}

.l {
    display: flex;
    gap: 10px;
    align-items: center;
}

.line {
    width: 970px;
    height: 2px;
    background-color: white;
}

.btn {
    background-color: green;
    color: black;
    padding: 10px 25px;
    border: 2px solid green;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0;
    margin-left: 769px;
}

.btn:hover {
    background-color: green;
}
.btn::before {
    content: "☰";
}
.btn.active::before {
    content: ">";
    font-size: 23px;
    
}

.btn2 {
    background-color: #0a3d08;
    color: #0bff03;
    width: 200px;
    padding: 5px 10px;
    border: green;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn3{
    position: fixed;
    background-color: grey;
    color: aqua;
    padding: 10px 25px;
    margin-top: -53px;
    left: 700px;
    border: grey;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.title {
    display: flex;
    font-size: 25px;
    color: #cfffd2;
}

.title2 {
    position: absolute;
    display: flex;
    font-size: 50px;
    top: 100px;
    left: 250px;
    color: white;
}

.small {
    position: fixed;
    display: flex;
    color: white;
    top: 180px;
    left: 30px;
    font-size: 30px;
    margin: 0;
    padding 0;
    text-align: center;


}
.ytb {
    position: fixed;
    display: inline-block;
    padding: 8px 12px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    top: 280px;
    left: 450px;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 1000px; /* مخفية أولًا */
    width: 300px;
    height: 100%;
    background: #4d694f;
    color: white;
    padding: 20px;
    transition: 0.3s;
}

.sidebar.active {
    left: 740px; /* تظهر */
}
